body {
  padding: 50px;
  font-family: 'Titillium Web', sans-serif;
  background-image: url('../images/bg.png');
  background-repeat: repeat-x;
  background-color: #EDEBEA;
}

a {
  color: #91278F;
}
a:hover
{color:#000};