body {
  padding: 0px;
  font-family: 'Titillium Web', sans-serif;
  background-image: url('../images/bg.png');
  background-repeat: repeat-x;
  background-color: #EDEBEA;
}

.brand img{ max-height: 60px;
	margin: 50px 30px 50px 113px;
}

.livelogo{ float:right;}
a {
  color: #91278F;
}
a:hover
{color:#000};